body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*SEPET KISMI*/
.sepetDiv div{color: white;}
.sepetDiv div img{
  width: 250px;
  height: 150px;
}
.sepetDiv div{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top:20px ;
  border: 2px solid white;
}
.buyİtems{
  width: 100%;
  position:sticky;
  height: 50px;
  border: 7px solid white;
  border-radius: 12px;
  background-color: green;
  font-size: 1rem;
  font-family: monospace;
}